// @import url('https://fonts.googleapis.com/css?family=Nunito|Material+Icons');
$lightGreen: #53e978;
$darkGreen: #35944b;

$lightBlue: #48a6fd;
$darkBlue: #3982c2;

$lightBrown: #9c9183;
$darkBrown: #7c7367;

.bg-primary.umwelt{
    background: $lightGreen;
    background: linear-gradient($lightGreen,$darkGreen);
    background: -webkit-linear-gradient($lightGreen,$darkGreen);
}

.bg-primary.buergerbeteiligung{
    background: $lightBlue;
    background: linear-gradient($lightBlue,$darkBlue);
    background: -webkit-linear-gradient($lightBlue,$darkBlue);
}

.bg-primary.hist_erbe {
    background: $lightBrown;
    background: linear-gradient($lightBrown,$darkBrown);
    background: -webkit-linear-gradient($lightBrown,$darkBrown);
}

